*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/instantapp/*.gitignore
/instantapp/*.iml
/fb/build
/fb/*.iml
/fb/*.gitignore
/skype/build
/skype/*.iml
/skype/*.gitignore
/telegram/build
/telegram/*.iml
/telegram/*.gitignore
/viber/build
/viber/*.iml
/viber/*.gitignore
/vk/build
/vk/*.iml
/vk/*.gitignore
/wsap/build
/wsap/*.iml
/wsap/*.gitignore
/captures
.externalNativeBuild
