*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/discord/build
/discord/*.iml
/discord/*.gitignore
/fb/build
/fb/*.iml
/fb/*.gitignore
/gmail/build
/gmail/*.iml
/gmail/*.gitignore
/icq/build
/icq/*.iml
/icq/*.gitignore
/instagram/build
/instagram/*.iml
/instagram/*.gitignore
/linkedin/build
/linkedin/*.iml
/linkedin/*.gitignore
/ok/build
/ok/*.iml
/ok/*.gitignore
/skype/build
/skype/*.iml
/skype/*.gitignore
/telegram/build
/telegram/*.iml
/telegram/*.gitignore
/tmblr/build
/tmblr/*.iml
/tmblr/*.gitignore
/tw/build
/tw/*.iml
/tw/*.gitignore
/vk/build
/vk/*.iml
/vk/*.gitignore
/youtube/build
/youtube/*.iml
/youtube/*.gitignore
/captures
.externalNativeBuild
