<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spandr.meme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:logo="@mipmap/back"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--Meta data section of project start-->
        <meta-data android:name="main_folder_name"
            android:value="@string/default_media_location_folder" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjoqIfZfD9NPN_c0KC8tOzYt-nhKfVhfg" />

        <meta-data android:name="com.package.name"
            android:value="${applicationId}" />
        <!--Meta data section of project end-->

        <!--Welcome Screen With SignIn and SignUp buttons-->
        <activity
            android:name=".core.activity.intro.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/WelcomeScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Login Screen-->
        <activity
            android:name=".core.activity.authorization.LoginActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.intro.WelcomeActivity" />
        </activity>

        <!--Register Screen-->
        <activity
            android:name=".core.activity.authorization.RegisterActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.intro.WelcomeActivity" />
        </activity>

        <!--Main Menu Screen-->
        <activity android:name=".core.activity.main.MainActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.intro.WelcomeActivity" />
        </activity>

        <!--Menu of WebView Screen-->
        <activity android:name=".core.activity.webview.WebViewActivity"
                  android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.main.MainActivity" />
        </activity>

        <!--Menu of Global Settings Screen-->
        <activity android:name=".core.activity.settings.global.GlobalSettingsActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.main.MainActivity" />
        </activity>

        <!--Menu of WebViewChannel Settings Screen-->
        <activity android:name=".core.activity.settings.channel.EditChannelsActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.main.MainActivity" />
        </activity>

        <!--Menu of Password change Screen-->
        <activity android:name=".core.activity.settings.global.ChangePasswordActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.settings.global.GlobalSettingsActivity" />
        </activity>

        <!--Menu of Account Remove Screen-->
        <activity android:name=".core.activity.settings.global.RemoveAccountActivity"
            android:theme="@style/MainTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.activity.settings.global.GlobalSettingsActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d4a2832e07fd95f91d11ac1f04bb9e6762526e6c" />

        <service
            android:name=".core.activity.main.logic.notification.NotificationService"
            android:label="@string/app_name"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="com.spandr.meme.NotificationService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>



</manifest>