<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spand.meme">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">

        <!--Meta data section of project start-->
        <meta-data android:name="main_folder_name"
            android:value="@string/default_media_location_folder" />

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDjoqIfZfD9NPN_c0KC8tOzYt-nhKfVhfg" />

        <meta-data android:name="com.package.name"
            android:value="${applicationId}" />
        <!--Meta data section of project end-->

        <!--Welcome Screen With SignIn and SignUp buttons-->
        <activity
            android:name=".core.submodule.ui.activity.main.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Login Screen-->
        <activity
            android:name=".core.submodule.ui.activity.main.LoginActivity"
            android:label="@string/title_activity_login">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.WelcomeActivity" />
        </activity>

        <!--Terms Of Use Screen-->
        <activity
            android:name=".core.submodule.ui.activity.main.TermsAndUseConditionsActivity"
            android:label="@string/title_activity_terms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.WelcomeActivity" />
        </activity>

        <!--Register Screen-->
        <activity
            android:name=".core.submodule.ui.activity.main.RegisterActivity"
            android:label="@string/title_activity_register">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.TermsAndUseConditionsActivity" />
        </activity>

        <!--Main Menu Screen-->
        <activity android:name=".core.submodule.ui.activity.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.WelcomeActivity" />
        </activity>

        <!--Menu of WebView Screen-->
        <activity android:name=".core.submodule.ui.activity.webview.WebViewActivity"
                  android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.MainActivity" />
        </activity>

        <!--Menu of Global Settings Screen-->
        <activity android:name=".core.submodule.ui.activity.settings.GlobalSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.MainActivity" />
        </activity>

        <!--Menu of Channel Settings Screen-->
        <activity android:name=".core.submodule.ui.activity.settings.EditChannelsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.main.MainActivity" />
        </activity>

        <!--Menu of Password change Screen-->
        <activity android:name=".core.submodule.ui.activity.settings.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.settings.GlobalSettingsActivity" />
        </activity>

        <!--Menu of Account Remove Screen-->
        <activity android:name=".core.submodule.ui.activity.settings.RemoveAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".core.submodule.ui.activity.settings.GlobalSettingsActivity" />
        </activity>

    </application>

</manifest>